/* root var */
:root {
  --text-main: #3a3a3a;
  --text-card-title: #18191f;
  --text-card-price: rgba(0, 0, 0, 0.87);
  --text-card-rate: #5e6366;
  --text-card-des: #787885;

  --clr-btn: #e02c6d;

  --clr-bg: #0a0826;

  --ff-poppins: "Poppins", sans-serif;
  --ff-comforta: "Comfortaa", cursive;
}

/* global class */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-poppins);
}
html {
  font-size: 62.5%;
}
body {
  margin: 0 1.5rem;
}
a {
  text-decoration: none;
  color: var(--text-main);
}
li {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
}
.white {
  color: white;
}
.text-center {
  text-align: center;
}
.fs {
  font-size: 1.6rem;
}

/*---------------------------------------- header style ----------------------------------------*/
.navigation,
.header__logo,
.banner__title,
.banner__description {
  text-align: center;
}
.header_banner {
  display: flex;
  flex-direction: column-reverse;
}
.header__logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--ff-comforta);
  margin: 20px 0px;
  font-weight: bold;
}
.navigation,
.btn-primary,
.card__text > p,
.rating,
.card__description,.more>p {
  font-size: 1.6rem;
}
.navigation > li {
  margin-bottom: 10px;
}
.navigation li a:hover,
.navigation li a:focus {
  text-decoration: underline;
}
.banner__img {
  background-image: url("../images/Circle\ design.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2rem 0rem;
}
.banner__title {
  font-size: 3rem;
  line-height: 1.2;
  color: var(--text-card-title);
}
.banner__description {
  font-size: 1.4rem;
  margin: 20px 0px;
  color: var(--text-card-des);
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.btn-primary {
  display: flex;
  padding: 1.2rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--clr-btn);
  color: white;
  border: 0;
}
.right-arrow {
  font-size: 25px;
  margin-left: 5px;
}
/*---------------------------------------- brand section style ----------------------------------------*/
.brands {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 30px 0px 50px 0px;
  align-items: center;
}
.brands > img {
  width: 5.7rem;
}
/*---------------------------------------- popular section style ----------------------------------------*/
.popular{
  margin-bottom: 50px;
}
.popular_title {
  font-size: 2.5rem;
  color: var(--text-card-title);
  margin-bottom: 10px;
  text-transform: uppercase;
}
.popular__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}
.card {
  padding: 1rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card__text {
  text-align: center;
  padding: 5px;
}
.card__text > h3 {
  font-size: 2rem;
}
.rating {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.star > i {
  color: rgb(243, 210, 22);
}
.more{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  color: var(--clr-btn);
}